#navbar{

    background-color: rgb(201, 196, 196);
    color: black;
   margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#cabecalho{

background-color: rgb(201, 196, 196);
 justify-content: space-between;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-size: 14px;
    
}

h2{
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#barra{    
    width: 100%; 
   height: 20px;
   
    background: repeating-linear-gradient(
        135deg,
        #f7d774 0px,
        #f7d774 10px,
        #e5c45a 10px,
        #e5c45a 20px

    );
}

body{
    padding: 0px;
    margin: 0px;
}

#links{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    
}
.opcoes{
display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px;

}

.saudacoes{
   margin-left: auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagem-cabecalho{
    width: 30px;
    height: 30px;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    border: black;
    border-width: -2px;
    
}