#navbar{

    background-color: rgb(163, 155, 155);
    color: black;
   margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#cabecalho{

background-color: rgb(163, 155, 155);
 justify-content: space-between;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 10px;
    padding-right: 10px;
    display:flex;
    
}

h2{
   font-size: 25px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#barra{
    background-color: yellow;
    width: 150px;
   height: 20px;
   display: flex;
   background-size: 2px;
}

body{
    padding: 0px;
    margin: 0px;
}

#links{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    
}
.opcoes{
display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px;

}

.saudacoes{
   margin-left: auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagem-cabecalho{
    width: 30px;
    height: 30px;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    border: black;
    border-width: -2px;
    
}