#navbar{

    background-color: rgb(201, 196, 196);
    color: black;
   margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#cabecalho{

background-color: rgb(201, 196, 196);
 justify-content: space-between;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-size: 14px;
    
}

h2{
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#barra{    
    width: 100%; 
   height: 20px;
   
    background: repeating-linear-gradient(
        135deg,
        #f7d774 0px,
        #f7d774 10px,
        #e5c45a 10px,
        #e5c45a 20px

    );
}

body{
    padding: 0px;
    margin: 0px;
}

#links{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    width: 35px;
    height: 35px;
    font-size: 10px;
    gap: 8px;

    
}
.opcoes{

    align-items: center;
justify-content: center;
    display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 5px;
color:rgb(15, 15, 15)


}

.saudacoes{
   margin-left: auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagem-cabecalho{
    width: 20px;
    height: 20px;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    border: black;
    border-width: -2px;
    
}

p{
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navegador-repositorios{
    font-size: 17px;
    display: flex;
   gap: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 align-items: flex-start;
 background-color: gray;
 margin-right: 80%;
min-height: 100vh;
 
}

#img-nave{
     width: 10px;
    height: 10px;
padding-left: 2px;
    padding-right: 2px;
    border: black;
    border-width: -2px;
    display: flex;
      justify-content: flex-start;
}
.nave{
display:flex;
    margin-left: 10px;
justify-content: flex-start;
 }

.titulos{
    display: flex;
    gap: 20px;
    margin-left: 20px;

}

.barra2{
    background-color: rgb(250, 250, 250);
    padding-right:162px;
    margin-right: 90px;
   
}