#navbar{

    background-color: rgb(201, 196, 196);
    color: black;
   margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#cabecalho{

background-color: rgb(201, 196, 196);
 justify-content: space-between;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 10px;
    padding-right: 10px;
    display: flex;
    font-size: 14px;
    
}

h2{
   font-size: 18px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#barra{    
    width: 100%; 
   height: 20px;
   
    background: repeating-linear-gradient(
        135deg,
        #f7d774 0px,
        #f7d774 10px,
        #e5c45a 10px,
        #e5c45a 20px

    );
}

body{
    padding: 0px;
    margin: 0px;
}

#links{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    width: 35px;
    height: 35px;
    font-size: 10px;
    gap: 8px;

    
}
.opcoes{

    align-items: center;
justify-content: center;
    display: flex;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 5px;
color:rgb(15, 15, 15)


}

.saudacoes{
   margin-left: auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagem-cabecalho{
    width: 20px;
    height: 20px;
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    border: black;
    border-width: -2px;
    
}

#navegador-repositorios{
    
    font-size: 20px;
    display:flex;
   gap: 30px;
   padding-left: 10px;
 border: gray;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
    
}