#navbar{

    background-color: rgb(163, 155, 155);
    color: black;
   margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#cabecalho{

background-color: rgb(163, 155, 155);
 justify-content: space-between;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     padding-left: 10px;
    padding-right: 10px;
    
}

h2{
   font-size: 25px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#barra{
    background-color: yellow;
    width: 150px;
   height: 20px;
   display: flex;
   background-size: 2px;
}

body{
    padding: 0px;
    margin: 0px;
}

#links{
    padding-right: 10px;
    padding-left: 10px;
}
.opcoes{
display: inline-block;
}

.saudacoes{
   margin-left: auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}